@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-primary: #168950;
    --bg-secondary: #EBEBEB;
    --bg-dark: #001220;
    --dgreen: #23E282;
    --overlay: #00122065;
    --overlay-hover: #033358ca;
    --font-standard: 'Montserrat', 'sans-seriff';
    --gap: 2rem;
}

/* BODY */

body {
    margin: 0;
    padding: 0;
    background: var(--bg-primary);
    font-family: var(--font-standard);
}

body::-webkit-scrollbar {
    width: 0.6rem;
}

body::-webkit-scrollbar-track {
    background: var(--bg-dark);
}

body::-webkit-scrollbar-thumb {
    background: var(--dgreen);
    border-radius: 1rem;
}

/* REMOVES LINK CSS */
a,
a:any-link {
    text-decoration: none;
    color: inherit;
}

/* WRAPPER */

.content-wrap .section:nth-child(odd) {
    background: var(--bg-secondary);
}

.content-wrap .section:nth-child(even) {
    color: var(--bg-secondary);
}

/* SECTION */

.section {
    padding: 2rem 1rem;
}

.max {
    margin: auto;
    max-width: 70em;
}

.reverse-order {
    order: none;
}

/* UTILS */

.b-inline {
    box-shadow: 0px -20px 3px -20px #fff inset;
}

.hr-gradient {
    height: 3px;
    width: 100%;
    max-width: 500px;
    border: none; 
    border-radius: 6px;
    background-color: var(--bg-secondary);
}

.margin {
    margin: 3rem 0;
}

/* SOCIALS */

.socials {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2rem;
}

.social-i {
    min-width: 100px;
    height: 100px;
}

.social-a {
    display: flex;
    flex-flow: column;
    text-align: center;
}

/* NAV ANI */

.underline-a {
    display: inline-block;
    position: relative;
    color: var(--dgreen)
}

.underline-a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--dgreen);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.underline-a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@keyframes card-hover {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    50% {
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
    }
}

@media (min-width: 60em) {
    
    .projects section:nth-child(even) {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .reverse-order {
        order: 2;
    }

    .socials {
        grid-template-columns: 1fr;
    }


    .overlay:hover {
        box-shadow: inset 902px 0 0 0 var(--overlay-hover);
    }
}