@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,600;1,500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-primary: #1C1D25;
    --bg-secondary: #EBEBEB;
    --dblue: #121365;
    --dgreen: #23E282;
    --font-standard: 'jost', 'sans-seriff';
    --gap: 1rem;
}

/* BODY */

body {
    margin: 0;
    padding: 0;
    background: var(--bg-primary);
    font-family: var(--font-standard);
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: var(--bg-primary);
}

body::-webkit-scrollbar-thumb {
    background: var(--bg-primary);
    border-radius: 1rem;
}

/* REMOVES LINK CSS */
.nav a,
.nav a:any-link {
    text-decoration: none;
    color: inherit;
}

/* WRAPPER */

.content-wrap .section:nth-child(odd) {
    background: var(--bg-secondary);
}

.content-wrap .section:nth-child(even) {
    color: var(--bg-secondary);
}

/* SECTION */

.section {
    padding: 2rem 3rem;
}

.max-120 {
    margin: auto;
    max-width: 70em;
}

/* UTILS */

.b-inline {
    box-shadow: 0px 20px -20px #fff inset;
}

/* PROJECTS */

.projects {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap);
}

.projects section:nth-child(odd) {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: var(--gap);
    background: var(--dblue)
}

.projects section:nth-child(even) {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: var(--gap);
    background: var(--dgreen)
}

.p-img {
    width: 100%;
    height: 100%;
    max-height: 300px;
    max-width: 500px;
}

/* BUTTON ANI */

.underline-a {
    display: inline-block;
    position: relative;
    color: var(--dgreen)
}

.underline-a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--dgreen);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.underline-a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media (min-width: 60em) {

    .projects section:nth-child(odd) {
        display: flex;
        justify-items: end;
        gap: 1rem;
        justify-items: end;
    }
    
    .projects section:nth-child(even) {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}