@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-primary: #168950;
    --bg-secondary: #EBEBEB;
    --bg-dark: #001220;
    --dgreen: #23E282;
    --font-standard: 'Montserrat', 'sans-seriff';
    --gap: 2rem;
}

/* BODY */

body {
    margin: 0;
    padding: 0;
    background: var(--bg-primary);
    font-family: var(--font-standard);
}

body::-webkit-scrollbar {
    width: 0.6rem;
}

body::-webkit-scrollbar-track {
    background: var(--bg-dark);
}

body::-webkit-scrollbar-thumb {
    background: var(--dgreen);
    border-radius: 1rem;
}

/* REMOVES LINK CSS */
a,
a:any-link {
    text-decoration: none;
    color: inherit;
}

/* WRAPPER */

.content-wrap .section:nth-child(odd) {
    background: var(--bg-secondary);
}

.content-wrap .section:nth-child(even) {
    color: var(--bg-secondary);
}

/* SECTION */

.section {
    padding: 2rem 3rem;
}

.max {
    margin: auto;
    max-width: 70em;
}

.reverse-order {
    order: none;
}

/* UTILS */

.b-inline {
    box-shadow: 0px -20px 3px -20px #fff inset;
}

.hr-gradient {
    height: 3px;
    border: none;
    border-radius: 6px;
    background-color: var(--bg-secondary);
}

/* PROJECTS */

.projects {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap);
}

.projects section:nth-child(odd) {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: var(--gap);
}

.projects section:nth-child(even) {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: var(--gap);
}

.p-img {
    width: 100%;
    height: 100%;
    max-height: 281px;
    max-width: 500px;
    object-fit: cover;
    filter: blur(0px);
    transition: all 300ms ease-in;
}

.p-content {
    display: flex;
    gap: 0.5rem;
    flex-flow: column;
}

.card {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 281px;
    max-width: 500px;
}

.card {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 281px;
    max-width: 500px;
}

.card-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    opacity: 0;
    position: absolute;
    color: var(--dgreen);
    background: var(--dblue);
}

.card:hover .overlay {
    opacity: 1;
    animation: card-hover 400ms ease-in-out;
}

.card:hover .p-img {
    filter: grayscale(80%);
    filter: blur(1px);
}

/* SOCIALS */

.socials {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2rem;
}

.social-i {
    min-width: 50px;
    height: 50px;
}

.social-a {
    display: flex;
    flex-flow: column;
}

/* BUTTON ANI */

.underline-a {
    display: inline-block;
    position: relative;
    color: var(--dgreen)
}

.underline-a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--dgreen);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.underline-a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.card:hover {
    background: #0000006e;
}

@keyframes card-hover {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    50% {
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
    }
}

@media (min-width: 60em) {

    .projects section:nth-child(odd) {
        display: flex;
        justify-items: end;
        align-items: center;
        gap: 1rem;
    }
    
    .projects section:nth-child(even) {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .reverse-order {
        order: 2;
    }

    .socials {
        grid-template-columns: 1fr 1fr 1fr;
    }
}