/* HEADER */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    height: 100vh;
    overflow: hidden;
    background: center / cover url('../../assets/bgs/header-bg1.svg');
}

h1 {
    font-size: 40px;
}

.blur {
    width: 100%;
    background: #0000000e;
}

.h-div {
    display: flex;
    gap: 1rem;
    flex-flow: column nowrap;
    height: fit-content;
    width: 100%;
    padding: 4rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(3px);
}

.profile-img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
}

.title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.title h1 {
    padding: 0.25rem;
    color: var(--dgreen);
}

.spread {
    display: flex;
    justify-content: space-between;
}

.hamburger {
    background: var(--dgreen);
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}

.hbicon {
    transform: scale(1.5);
}

@media(min-width: 60em) {
    .title h1 {
        box-shadow: inset 0 0 0 0 var(--dgreen);
        padding: 0.25rem;
        color: var(--dgreen);
        transition: box-shadow 300ms ease-in;
    }

    .title h1:hover {
        box-shadow: inset 375px 0 0 0 var(--dgreen);
        color: var(--dblue);
    }

    .title {
        justify-content: space-evenly;
        width: fit-content;
    }
}