@import url('../../styles/styles.css');

footer {
    width: 100%;
    background: var(--bg-dark);
    color: var(--bg-secondary);
}

.footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 2rem;
}

[data-order-1] {
    order: 2
}

[data-icon-link] {
    display: flex;
    align-items: center;
    flex-flow: column;   
}

.f-icon {
    width: 40px;
    height: 40px;
}


@media (min-width: 60em) {

    .footer-wrapper {
        justify-content: space-between;
        flex-flow: row;
    }

    [data-order-1] {
        order: 0
    }
}